<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/stylesLogin.css}">

</head>
<body>
<h2>LOGIN</h2>

<form th:action="@{/login}" method="post">
    <label>Username: <input type="text" name="username"/></label><br/>
    <label>Password: <input type="password" name="password"/></label><br/>
    <button type="submit">Login</button>
    <a href="/register" class="menu-button">Register new user</a>

</form>


</body>
</html>
